{% extends "base.html" %}
{% block content %}
<form action="/realms/" method='POST'>
    <button name="option" class="realm_button" value='US'> US </button>
    <button name="option" class="realm_button" value='EU'> EU </button>
    <button name="option" class="realm_button" value='KR/TW'> KR/TW </button>
    <button name="option" class="realm_button" value='KR'> KR </button>
    <button name="option" class="realm_button" value='TW'> TW </button>
    <button name="option" class="realm_button" value='CN'> CN </button>
</form>
<p> {% autoescape false %} {{ output }} {% endautoescape %} </p>
{% endblock %}
